.MainSlider {
 
  display: flex;
  border-radius: 10px;
      max-width: 804px;
      height: 758px;
  padding:0px ;
  margin: auto;
  position: relative;
     


  overflow: hidden;
  margin-bottom: 35px;
  max-width: 1000px;
 
}
.MainSlider img{
  border-radius: 10px;
  max-width: 803px;
  height: 721px;
  
margin: auto;
padding: auto;

}

.btn1,
.btn1:focus,
.btn1:hover {
  
      left: 6%;
      top: 54%;
  outline: none;
  position: absolute;
  /* top: 95%;
  left: 14%; */
  color: white;
  background-color: black;
  font-size: 50px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
   transform: translate(-50%, -50%);

}
.btn2,
.btn2:focus,
.btn2:hover
 {
 color: white;
background-color: black;
  outline: none;
  
  position: absolute;
 top: 54%;
  left: 94%;
  transform: translate(-50%, -50%);
 
  
  font-size: 40px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.focus{
  color: red;
}


.btn3,
.btn3:focus,
.btn3:hover {

  outline: none;
  
 
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: black;
  font-size: 30px;
  padding: 2px 20px;
  border:none;
  
    text-decoration: underline;
  

}
.listSize {
  border: 1px solid black;
    margin-left: 14px;
  font-size: 1pt;

}
.box{
  
  margin-left: 29%;
  display: flex;
  position: absolute;
  margin-bottom: 5px;
  top: 85%;
  padding: 5px 5px;
  
}  
ul li{
margin: 0 auto;
display:inline;
border: 1px solid rgb(0, 0, 0);

padding: 3px;
background-color: burlywood;
border-radius: 4px; 
 }
 .selected{
   background-color: brown;
   color: cornsilk;
 }
.shortDescription {
  color:white;
  margin: auto;
  padding:  0%  5%;

  
}




