.item2 img {
    height: 388px;
    width: 600px;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}

.item2 img.x {
    opacity: 0;
}


.slider {

    max-width: 1200px;
    margin: auto;
    display: inline-flex;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    overflow: hidden;
    margin-bottom: 35px;
}

.item1 {
    background-color: black;
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
    color: ivory;
    padding-left: 10px;
    width: 600px;
    height: 388px;
}

.item2 {
    border-radius: 0px 15px 15px 0px;

    color: ivory;
    background-color: black;
    width: 600px;
    height: 388px;
}

.slider-title {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: xxx-large;
    margin-top: 162px;
    text-align: center;
}

.slider-contact {
    font-family: Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif;
    color: darkgray;
    font-size: xx-large;

    text-align: center;
}