.item2 img {
    height: 388px;
    width: 600px;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}

.item2 img.x {
    opacity: 0;
}


.slider {

    max-width: 1200px;
    margin: auto;
    display: inline-flex;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid white;
    overflow: hidden;
    margin-bottom: 35px;
}

.item1 {
    background-color: black;
    margin: 0px;
    border-radius: 15px 0px 0px 15px;
    color: ivory;
    padding-left: 10px;
    width: 600px;
    height: 388px;
}

.item2 {
    border-radius: 0px 15px 15px 0px;

    color: ivory;
    background-color: black;
    width: 600px;
    height: 388px;
}

.slider-title {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin: 54px;
    ;
}